/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  border-image-width: 0px;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
